<div class="container">
<% if @current_user%>

<h1>Places</h1>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>

<p>
  <a href="/places/new">New place</a>
</p>

<% else %>
  <p>You must be logged in to see this page.</p>
<% end %>

</div>